<%- include('includes/head') %> 
    <div class="custom-position">
        <h1 class="custom-main-heading glow">
            Page Not Found!
        </h1>
    </div>
<%- include('includes/footer') %> 